/vendor
/frontend/node_modules
/temp
/web/*
!/web/modules
/web/modules/*
!/web/modules/custom
/.vscode
!/.ddev/nginx/cors.conf
/.ddev/config.yaml
!/.ddev/config.grafana.yaml
!/.ddev/config.observability-demo.yaml
/.ddev/syslog
